@charset "utf-8";

/* ===================================================================
全体共通
=================================================================== */

/* 全体設定
--------------------------------------------------------------------*/

/* マージン・パディング全て幅に梱包 */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	vertical-align: middle;
	line-height: 1.0;
}

picture {
	display: block;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	color: #14a0dc;
}

html { /* フォントの基準を10px */
	font-size: calc(100vw / 37.5);
	/*font-size: 62.5%;*/
}

body {
	font-family: "Noto Sans JP", "メイリオ", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
	font-size: 1.4rem;
	line-height: 1.8;
	color: #333;
	font-feature-settings: "palt";
	font-weight: 300;
}

@media only screen and (min-width: 480px) {
	html {
		font-size: 62.5%;
	}
	body {
		letter-spacing: 1.4px;
	}
}

@media only screen and (min-width: 768px) {

}




/* 汎用クラス（レイアウト調整に使用）
-------------------------------------------------------------------- */
.center{ text-align:center !important;}
.right{ text-align:right !important;}
.left{ text-align:left !important;}

/* margin top */
.mt0{ margin-top:0 !important; }
.mt10{ margin-top:10px !important; }
.mt20{ margin-top:20px !important; }
.mt30{ margin-top:30px !important; }
.mt40{ margin-top:40px !important; }
.mt50{ margin-top:50px !important; }
.mt60{ margin-top:60px !important; }
.mt70{ margin-top:70px !important; }
.mt80{ margin-top:80px !important; }
.mt90{ margin-top:90px !important; }
.mt100{ margin-top:100px !important; }

/* margin bottom */
.mb0{ margin-bottom:0 !important; }
.mb10{ margin-bottom:10px !important; }
.mb20{ margin-bottom:20px !important; }
.mb30{ margin-bottom:30px !important; }
.mb40{ margin-bottom:40px !important; }
.mb50{ margin-bottom:50px !important; }
.mb60{ margin-bottom:60px !important; }
.mb70{ margin-bottom:70px !important; }
.mb80{ margin-bottom:80px !important; }
.mb90{ margin-bottom:90px !important; }
.mb100{ margin-bottom:100px !important; }

/* margin right */
.mr0{ margin-right:0 !important; }
.mr10{ margin-right:10px !important; }
.mr20{ margin-right:20px !important; }
.mr30{ margin-right:30px !important; }
.mr40{ margin-right:40px !important; }
.mr50{ margin-right:50px !important; }
.mr60{ margin-right:60px !important; }
.mr70{ margin-right:70px !important; }
.mr80{ margin-right:80px !important; }
.mr90{ margin-right:90px !important; }
.mr100{ margin-right:100px !important; }

/* margin left */
.ml0{ margin-left:0 !important; }
.ml10{ margin-left:10px !important; }
.ml20{ margin-left:20px !important; }
.ml30{ margin-left:30px !important; }
.ml40{ margin-left:40px !important; }
.ml50{ margin-left:50px !important; }
.ml60{ margin-left:60px !important; }
.ml70{ margin-left:70px !important; }
.ml80{ margin-left:80px !important; }
.ml90{ margin-left:90px !important; }
.ml100{ margin-left:100px !important; }

/* margin top-bottom */
.mtb10{ margin-top: 10px !important;
		margin-bottom: 10px !important; }
.mtb20{ margin-top: 20px !important;
		margin-bottom: 20px !important; }
.mtb30{ margin-top: 30px !important;
		margin-bottom: 30px !important; }

/* margin left-right */
.mlr10{ margin-left: 10px !important;
		margin-right: 10px !important; }
.mlr20{ margin-left: 20px !important;
		margin-right: 20px !important; }
.mlr30{ margin-left: 30px !important;
		margin-right: 30px !important; }

/* padding top */
.pt0{ padding-top:0px !important; }
.pt10{ padding-top:10px !important; }
.pt20{ padding-top:20px !important; }
.pt30{ padding-top:30px !important; }
.pt40{ padding-top:40px !important; }
.pt50{ padding-top:50px !important; }
.pt60{ padding-top:60px !important; }
.pt70{ padding-top:70px !important; }
.pt80{ padding-top:80px !important; }
.pt90{ padding-top:90px !important; }
.pt100{ padding-top:100px !important; }

/* padding bottom */
.pb0{ padding-bottom:0px !important; }
.pb10{ padding-bottom:10px !important; }
.pb20{ padding-bottom:20px !important; }
.pb30{ padding-bottom:30px !important; }
.pb40{ padding-bottom:40px !important; }
.pb50{ padding-bottom:50px !important; }
.pb60{ padding-bottom:60px !important; }
.pb70{ padding-bottom:70px !important; }
.pb80{ padding-bottom:80px !important; }
.pb90{ padding-bottom:90px !important; }
.pb100{ padding-bottom:100px !important; }

/* padding right */
.pr0{ padding-right:0px !important; }
.pr10{ padding-right:10px !important; }
.pr20{ padding-right:20px !important; }
.pr30{ padding-right:30px !important; }
.pr40{ padding-right:40px !important; }
.pr50{ padding-right:50px !important; }
.pr60{ padding-right:60px !important; }
.pr70{ padding-right:70px !important; }
.pr80{ padding-right:80px !important; }
.pr90{ padding-right:90px !important; }
.pr100{ padding-right:100px !important; }

/* padding left */
.pl0{ padding-left:0px !important; }
.pl10{ padding-left:10px !important; }
.pl20{ padding-left:20px !important; }
.pl30{ padding-left:30px !important; }
.pl40{ padding-left:40px !important; }
.pl50{ padding-left:50px !important; }
.pl60{ padding-left:60px !important; }
.pl70{ padding-left:70px !important; }
.pl80{ padding-left:80px !important; }
.pl90{ padding-left:90px !important; }
.pl100{ padding-left:100px !important; }
